name: Deploy to Firebase Hosting

on: 
  push:
    branches:
      - main

jobs: 
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/setup-node@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install Dependencies
      run: npm install

    - name: Deploy to Firebase Hosting
      uses: FirebaseExtended/action-hosting-deploy@v0
      with:
        repoToken: "ยง{{ secrets.GITHUB_TOKEN }}"
        fireBaseServiceAccount: "ยง{{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
        
